body {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
}

.quiz {
  width: 65%;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

.question {
  background-color: #00645a;
  color: white;
  padding: 20px;
  font-size: 24px;
  border-radius: 10px 10px 0 0;
}

.results {
  background-color: #fff;
  height: 300px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.congratulations {
  background-color: #005f8c;
  padding: 20px;
  font-size: 36px;
  color: #fff;
  border-radius: 15px;
}

.results-info {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 18px;
}

.answer {
  width: 100%;
  background: #fff;
  border: 2px solid #005f8c;
  min-height: 70px;
  cursor: pointer;
  margin-bottom: 30px;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  border-radius: 10px;
}

.answer:hover {
  background-color: #b8b7b7;
  .answer-letter {
    background-color: #05665e;
  }
}

.answers {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border-radius: 10px;
}

.answer-letter {
  font-size: 30px;
  background-color: #005f8c;
  color: #fff;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-right: 20px;
}


.answer-text {
  font-weight: 600;
  display: flex;
  align-items: center;
}

.correct-answer {
  border: 2px solid #009d05;
}

.correct-answer .answer-letter {
  background: #009d05;
}

.wrong-answer {
  border: 2px solid #f44336;
}

.wrong-answer .answer-letter {
  background: #f44336;
}

.next-button {
  margin: 0 auto;
  color: #fff;
  background: #012b3e;
  width: 300px;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 75px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #1d2a30;
  /* transform: scale(1.2); */
}

.next-button:hover {
  background: #005881;
  transform: scale3d(1.1, 1.1, 1.1);
}

.score {
  background: #012b3e;
  color: #fff;
  font-size: 18px;
  margin: 0 auto;
  font-weight: 600;
  height: 40px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
}

.disabled-answer {
  pointer-events: none;
}